@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto&display=swap");


.container {
  position: relative;
  display: block;
  height: 500px;
  max-width: 1000px;
  margin: auto;
}

.nav {
  &__prev,
  &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #749393;

    &:hover {
      color: #9ab6b6;
    }
  }

  &__prev {
    left: 10px;
  }

  &__next {
    right: 10px;
  }
}

.carousel {
  margin: auto;
  padding: 50px;

  .slick-current {
    .carousel__slide {
      transform: scale(1);
      box-shadow: 0 0 30px 5px #e8e8e8;
    }

    .carousel__content {
      display: block;
    }
  }

  &__slide {
    width: 250px;
    padding: 10px;
    margin: 0 30px;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: 0 0 10px 5px #e8e8e8;
    transform: scale(0.8);
    transition: all 400ms linear;
  }

  &__visual {
    height: 300px;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }

  &__content {
    position: relative;

    h1 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-family: "Playfair Display", serif;
      font-size: 24px;
    }

    a {
      display: block;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      color: #464546;
      font-size: 12px;
      margin-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      position: absolute;
      top: 4px;
      right: 0;
      color: #9ab6b6;
      transition: all 100ms linear;
      cursor: pointer;

      &.liked {
        color: #c61608;
      }
    }
  }
}